
html, body, #root {
  height: 100%;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}


/* HEADER MODERNO */

.header {
  background: #000; /* preto */
  color: #fff;
  padding: 0;
  border-bottom: 3px solid #00c853; /* verde */
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.8rem 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Geral pagina*/


html, body, #root {
  height: 100%;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* LOGO */

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo-text {
  font-size: 22px;
  font-weight: bold;
  color: #00c853; /* verde */
}

/* MENU */

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

.nav-menu a:hover {
  color: #00c853;
}
 
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}



.nav-menu a {
  transition: all 0.3s ease;
}

/* CONTAINER CENTRALIZADO */

.carousel-container {
  max-width: 1000px;
  margin: 30px auto;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

/* TRACK (LINHA QUE DESLIZA) */

.carousel-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

/* CADA SLIDE */

.carousel-slide {
  min-width: 100%;
  position: relative;
}

/* IMAGEM FIXA */

.carousel-slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* TEXTO SOBRE IMAGEM */

.carousel-text {
  position: absolute;
  bottom: 20px;
  left: 20px;

  background: rgba(0, 0, 0, 0.6);
  padding: 10px 15px;
  color: white;
  border-left: 5px solid #00c853;
  font-size: 18px;
}

/* BOTÕES */

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.btn:hover {
  background: #00c853;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


.footer {
  background: #000;
  color: #fff;
  padding: 20px 0;
  border-top: 3px solid #00c853;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* TEXTO */
.footer-text {
  font-size: 14px;
}

/* ÍCONES */
.footer-social {
  display: flex;
  gap: 20px;
}

.footer-social a {
  font-size: 22px;
  color: #00c853; /* VERDE */
  transition: 0.3s;
}

/* EFEITO HOVER */
.footer-social a:hover {
  color: #ffffff;
  transform: scale(1.2);
}

body {
  font-family: 'Poppins', sans-serif;
}

/* CONTAINER PRINCIPAL */
.home-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* SEÇÃO */
.home-section {
  padding: 40px 20px;
  text-align: center;
}

/* TÍTULO */
.home-title {
  font-size: 28px;
  margin-bottom: 30px;
  color: #000;
}

/* CARDS */
.plans {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* CARD INDIVIDUAL */
.plan-card {
  background: #fff;
  padding: 20px;
  width: 250px;
  border-radius: 10px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

/* HOVER */
.plan-card:hover {
  transform: translateY(-5px);
  border-bottom: 4px solid #00c853;
}

/* TITULO DO CARD */
.plan-card h3 {
  margin-bottom: 10px;
  color: #00c853;
}

/* TEXTO */
.plan-card p {
  font-size: 14px;
  color: #555;
}


/* TELA LOGIN  - INICIO*/


.login-container {
  min-height: calc(100vh - 120px); /* desconta header e footer */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}


/* BOX */

.login-box {
  background: #111;
  padding: 30px;
  border-radius: 10px;
  width: 350px;

  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  text-align: center;
}

/* TÍTULO */

.login-box h2 {
  color: #00c853;
  margin-bottom: 20px;
}

/* FORM */

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* INPUTS */

.login-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

/* BOTÃO */

.login-form button {
  background: #00c853;
  color: #000;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.login-form button:hover {
  background: #00e676;
}


.login-link {
  margin-top: 15px;
  font-size: 14px;
  color: #ffffff; /* ✅ texto principal branco */
  text-align: center;
}

.login-link a {
  color: #00c853; /* ✅ link verde */
  text-decoration: none;
  font-weight: 600;
  
}

.login-link a:hover {
  text-decoration: underline;
}



/* TELA LOGIN  - FIM*/

/* DOTS DO CALENDÁRIO - INICIO*/

.agenda-container {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

/* DOTS DO CALENDÁRIO */

.react-calendar {
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.react-calendar__tile {
  padding: 10px 0;
}


.agenda-container {
  text-align: center;
}


/* DIAS DO MÊS (TEXTO) */


/* DIAS NORMAIS */
.react-calendar__month-view__days__day {
  color: #fff;
}

.react-calendar__month-view__days__day:hover {
  color: #0a0a0a;
}
/* DIAS FORA DO MÊS (cinza mais suave) */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #666;
}

/* FIM DE SEMANA */
.react-calendar__month-view__days__day--weekend {
  color: #ff5252;
}



.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: auto;
  margin-top: 4px;
}

.red {
  background: red;
}

.green {
  background: #00c853;
}

/* LISTA DE AULAS */

.aulas-dia {
  margin-top: 30px;
  text-align: left;
}

.aula-card {
  background: #111;
  color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-left: 5px solid #00c853;
  border-radius: 5px;
}

/* CALENDAR MODERNO */

.react-calendar {
  width: 100%;
  max-width: 700px;
  background: #111;
  border: none;
  border-radius: 12px;
  padding: 15px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* CABEÇALHO (MÊS) */

.react-calendar__navigation {
  margin-bottom: 10px;
}

.react-calendar__navigation button {
  color: #00c853;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.react-calendar__navigation button:hover {
  color: white;
}

/* DIAS DA SEMANA */

.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-size: 12px;
  color: #ccc;
}

/* DIAS */

.react-calendar__tile {
  background: transparent;
  border-radius: 8px;
  transition: 0.2s;
}

/* HOVER */

.react-calendar__tile:hover {
  background: rgba(0, 200, 83, 0.2);
}

/* DIA ATUAL */

.react-calendar__tile--now {
  background: rgba(0, 200, 83, 0.3);
  border-radius: 8px;
}

/* DIA SELECIONADO */

.react-calendar__tile--active {
  background: #00c853 !important;
  color: black;
  border-radius: 8px;
}

/* FINAL DE SEMANA */

.react-calendar__month-view__days__day--weekend {
  color: #ff5252;
}
/* DOTS DO CALENDÁRIO - FIM*/

/* CSS PARA A TELA DE AGENDAR AULAS FOCADO NO MAPA - INICIO*/
.mapa-container {
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
}


.marker-online {
  border: 2px solid #00c853;
  border-radius: 50%;
}

.leaflet-marker-icon {
  transition: transform 0.2s;
}

.leaflet-marker-icon:hover {
  transform: scale(1.2);
}



.leaflet-marker-icon {
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
}

/* MAPA */

.map {
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
}

/* CARD DO INSTRUTOR */

.card-instrutor {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.card-instrutor img {
  width: 60px;
  height: 60px;;
  border-radius: 50%;
  margin-bottom: 5px;
}

.card-instrutor h4 {
  margin-bottom: 5px;
  color: #00c853;
}

.card-instrutor p {
  margin: 3px 0;
  font-size: 14px;
}

/*CEP*/
.busca-cep {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.busca-cep input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 200px;
}

.busca-cep button {
  background: #00c853;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.busca-cep button:hover {
  background: #00e676;
}

/*ICONE DO USUÁRIO PESQUISA*/
.leaflet-marker-icon {
  transition: transform 0.2s;
}

.leaflet-marker-icon:hover {
  transform: scale(1.2);
}

/* CSS PARA A TELA DE AGENDAR AULAS FOCADO NO MAPA - FIM*/

/* CSS TELA DE DADOS CADASTRAIS CONTA.JSX*/
/* CONTAINER */

.conta-container {
  max-width: 1000px;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}

/* SALDO */

.saldo-card {
  background: #00c853;
  color: black;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 30px;
}

.saldo-card h1 {
  font-size: 32px;
}

/* GRID */

.conta-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* CARDS */

.card {
  background: #111;
  color: white;
  padding: 20px;
  border-radius: 12px;
}

.card h2 {
  color: #00c853;
  margin-bottom: 15px;
}

/* CARTÕES */

.cartao {
  background: #222;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}
/* CONTA.JSX FIM*/

/*CONTATO.JSX - TELA DE FALE CONOSCO - INICIO*/
/* CONTAINER */

.contato-container {
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* GRID */

.contato-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

/* CARD */

.card {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  color: white;
  text-align: left;
}

.card h3 {
  color: #00c853;
  margin-bottom: 15px;
}

/* FORM */

.form-contato {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-contato input,
.form-contato textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.form-contato textarea {
  min-height: 120px;
  resize: none;
}

/* BOTÃO */

.form-contato button {
  background: #00c853;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.form-contato button:hover {
  background: #00e676;
}

/* CONTATOS */

.card p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.card a {
  color: #00c853;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}
/*CONTATO.JSX - TELA DE FALE CONOSCO - FIM*/
/*CADASTRO.JSX - INICIO*/
  
.login-form label {
  font-size: 14px;
  color: #ccc;
  text-align: left;
}


.cadastro-box {
  max-height: 90vh;
  overflow-y: auto;
}

.cadastro-box::-webkit-scrollbar {
  width: 5px;
}

.cadastro-box::-webkit-scrollbar-thumb {
  background: #00c853;
  border-radius: 10px;
}


.erro {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}



.input-error {
  border: 1px solid #ff5252 !important;
  box-shadow: 0 0 3px #ff5252;
}



/*CADASTRO.JSX - INICIO*/